<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sina.weibo.sdk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SDCard读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 发送有序广播，接收有序广播需要的权限 -->
    <uses-permission android:name="get.oauth" />

    <permission
        android:name="get.oauth"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        <!-- 初始化界面配置 -->
        <activity
            android:name="com.sina.weibo.sdk.demo.LoadMainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 授权界面配置 -->
        <activity
            android:name="com.sina.weibo.sdk.demo.oauth.OauthActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 授权完成进入的主界面，查看微博列表等一系列信息 -->
        <activity
            android:name="com.sina.weibo.sdk.demo.HomeActivity"
            android:launchMode="singleTask" />

        <!-- 管理已登录账户的Activity -->
        <activity android:name="com.sina.weibo.sdk.demo.AccountManagerActivity" />
        <activity android:name="com.sina.weibo.sdk.demo.ShowWeiboActivity" >
        </activity>
        <!-- 写微博 -->
        <activity
            android:name="com.sina.weibo.sdk.demo.WriteWeiboActivity"
            android:launchMode="singleTask" />

        <service android:name="com.sina.weibo.sdk.demo.service.GetDataService" />

        <!-- 当授权成功后发送广播来通知该广播做获取用户信息,公共微博列表和自己的微博信息 -->
        <receiver android:name="com.sina.weibo.sdk.demo.broadcast.MyAuthorizeBroadcast" >
            <intent-filter>
                <action android:name="get.oauth.id.info" />
            </intent-filter>
        </receiver>
    </application>

</manifest>